* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
   margin-bottom: 50px;
}


.row {margin: 10px 10px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-white {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}